<!DOCTYPE html>
<html>
  <head>
    <title>Animal Crossing: New Horizons Info</title>
    <link rel='stylesheet' href='/stylesheets/css/base.css' />
    <link rel='stylesheet' href='/stylesheets/css/text.css' />
  </head>
  <body>
    <h1>Animal Crossing: New Horizons Info</h1>
  </body>
</html>
